@media(min-width: 576px) {
  /* MENU SECTION */
  .menu-item-text {
    color: darkgray;
    font-size: 20px !important;
  }
  .menu-item-price {
    font-size: 25px !important;
    color: darkslategray;
  }
  /* LAST SECTION */
  .last-section-text {
    font-size: 20px !important;
    color: darkgray;
  }
  .last-section-btn {
    font-size: 20px;
    padding: 5px 10px;
  }
  /* ABOUT PAGE */
  .staff-name {
    font-size: 35px !important;
  }
  .staff-info {
    font-size: 25px !important;
  }
  /* DRINKS SECTION */
  .drinks-section .fas {
    font-size: 70px !important;
  }
  .drink-description {
    font-size: 25px !important;
  }
  .drink-button {
    font-size: 22px !important;
  }
}

@media(min-width: 768px) {
  /* HEADER */
  .navbar-light .navbar-nav .nav-link {
    margin-left: 30px;
    font-weight: 700;
  }
  /* WELCOME SECTION */
  .welcome-section-title {
    font-size: 45px !important;
    margin-bottom: 30px !important;
  }
  .welcome-section-text {
    font-size: 25px;
    color: darkgray;
  }
  /* MENU SECTION */
  .menu-headline {
    font-size: 45px !important;
    margin-bottom: 30px !important;
  }
  /* LAST SECTION */
  .last-section-text {
    font-size: 20px !important;
    color: darkgray;
  }
  .last-section-btn {
    font-size: 20px;
    padding: 5px 10px;
  }
  /* ABOUT PAGE */
  .about-section-description {
    font-size: 25px !important;
  }
  /* STAFF SECTION */
  .social a {
    font-size: 25px !important;
  }
  /* DRINKS SECTION */
  .drinks-section .fas {
    font-size: 90px !important;
  }
  .drink-button {
    font-size: 25px !important;
  }
  /* HISTORY SECTION */
  .history-section-title {
    font-size: 40px !important;
  }
  .history-section-text {
    font-size: 23px !important;
  }
}

@media(min-width: 992px) {
  /* HEADER */
  .navbar-light .navbar-nav .nav-link {
    margin-left: 50px;
  }
  /* WELCOME SECTION */
  .welcome-section-title {
    font-size: 50px !important;
    margin-bottom: 50px !important;
  }
  .welcome-section-text {
    font-size: 25px;
    color: darkgray;
  }
  /* MENU SECTION */
  .menu-headline {
    font-size: 50px !important;
    margin-bottom: 50px !important;
  }
  .menu-item-title {
    font-size: 20px;
  }
  .menu-item-text {
    font-size: 20px;
  }
  .menu-item-price {
    font-size: 20px;
  }
  /* DRINKS SECTION */
  .drinks-section .fas {
    font-size: 100px !important;
  }
  .drink-button {
    font-size: 25px !important;
  }
  /* CONTACT PAGE */
  .contact-info-text {
    font-size: 25px !important;
  }
  .contact-section .fas {
    font-size: 25px !important;
    margin-right: 20px !important;
  }
  .contact-data {
    font-size: 25px !important;
  }

  .contact-social a{
    font-size: 25px !important;
  }
}

@media(min-width: 1200px) {
  /* HEADER */
  .navbar-light .navbar-nav .nav-link {
    margin-left: 80px;
  }
}