@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap');
@import url(responsive.css);
html {
  height: 100%;
}

body {
  font-family: 'Poppins', sans-serif;
}

img {
  width: 100%;
}

h1, h2, h3, h4, h5 {
  font-weight: 700;
}

p {
  font-weight: 400;
}

.parallax {
  height: 90vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.navbar .navbar-toggler span {
  width: 30px;
  height: 3px;
  display: block;
  margin-bottom: 5px;
  background-color: #fff;
  text-align: center;
}

.navbar-toggler span:last-of-type {
  margin-bottom: 0;
}

.navbar-light .navbar-nav .nav-link {
  font-size: 20px;
  line-height: 19px;
  letter-spacing: 0.46px;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
}

.navbar-light .navbar-nav .nav-link:hover, .navbar-light .navbar-nav .nav-link.active {
  border-bottom: 1px solid #fff;
  color: #fff;
}

.welcome-section-title {
  font-size: 40px;
}

.welcome-section-text {
  font-size: 20px;
  color: darkgray;
}

.menu-item-text {
  color: darkgray;
  font-size: 20px;
}

.menu-item-price {
  font-size: 22px;
  color: darkslategray;
}

.last-section-title {
  color: darkgray;
}

.last-section-text {
  font-size: 20px;
  color: darkgray;
}

.last-section-btn {
  border: 1px solid darkgray;
  background: transparent;
  color: darkgray;
  cursor: pointer;
  font-size: 20px;
}

/* ABOUT PAGE */

.about-section-description {
  font-size: 20px;
}

/* STAFF SECTION */

.staff-name {
  font-size: 30px;
  color: rgb(97, 97, 245);
  font-weight: 400;
}

.staff-position {
  font-size: 25px;
  color: crimson;
  font-weight: 400;
}

.staff-info {
  font-size: 18px;
}

.social a .fab {
  padding: 5px;
}

.social a {
  color: #000;
  cursor: pointer;
  font-size: 20px;
}

.social a:hover {
  background-color: #000;
  color: #fff;
}

.background-section {
  height: 40vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center;
}

.drinks-section .fas {
  font-size: 50px;
  color: darkgray;
}

.drink-description {
  font-size: 20px;
}

.drink-button {
  font-size: 20px;
  border: none;
}

.history-section-title {
  font-weight: 400;
  font-size: 35px;
  color: darkgray;
}

.history-section-text {
  font-size: 15px;
  color: darkgray;
}

.contact-info-title {
  color: darkgray;
  font-weight: 400;
}

.contact-info-text {
  font-size: 20px;
}

.contact-section .fas {
  color: darkgreen;
  font-size: 20px;
  margin-right: 20px;
}

.contact-data {
  color: darkgray;
  font-size: 20px;
}

.contact-social a {
  font-size: 20px;
  color: darkgrey;
}

.map-responsive {
  overflow: hidden;
  padding-bottom: 56.25%;
  position: relative;
  height: 40vh;
  
}

.map-responsive iframe {
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  position: absolute;
  padding: 30px 0;
}